<!-- <h1>{{state | titlecase}}!</h1> -->



<form name='authForm' ng-submit='submit(user)'>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text"
        class='form-control'
        ng-model='user.username'
        name="username"
        id="username"
        required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password"
        class='form-control'
        ng-model='user.password'
        name="password"
        id="password"
        required>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group" ng-if='state === "register"'>
        <label for="password2">Password (Again):</label>
        <input type="password"
        class='form-control'
        ng-model='user.password2'
        name="password2"
        id="password2"
        required>
      </div>
    </div>
  </div>

  <button type="submit"
  ng-disabled='authForm.$invalid'
  class="btn btn-default"> submit
  <!-- {{state | titlecase}} -->
</button>

</form>
